$blue: #0e8fb6;
$red: #e2904d;
$yellow: #4e4e28;
$green: #24491e;
$orange: #58360f;

$primaryColor: $red;
$navColor: #181b1b;
$bgColor: $orange;

$colors: (
  info: $blue,
  danger: $red,
  warning: $yellow,
  success: $green,
);

@mixin bgColorMix($property) {
  background-color: $property;
}

p {
  color: map-get($colors, warning);
}

.app-layout {
  // @include bgColorMix($primaryColor);
  background-color: #d1d8d6;
  height: 100vh;
}

.bgHeader {
  @include bgColorMix($blue);
}

.content-links {
  max-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #596160;
  width: 100%;
  &.sublinks {
    background-color: #dbe2e2;
    margin-bottom: 1rem;
  }
}

.link-text {
  color: $navColor;
}

.active {
  color: $blue;
}

.button {
  background-color: $green;
  color: white;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $green;
  border-color: $yellow;
}

.content-tabla {
  padding: 4rem;
}

.content-components {
  padding: 2rem;
  background-color: #a9adac;
  height: 100%;
}

.content-sider {
  padding: 2rem;
  background-color: $blue;
  color: white;
  overflow: auto;
  height: auto;
}

.home-layout{
  height: auto;
}

.outlet {
  margin-bottom: 2rem;
}

.comps-wrapper {
  min-height: 35rem;
  padding: 8rem;
  background-color: #cdeff0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list {
  cursor: pointer;
}

.table-row {
  cursor: pointer;
  background-color: #bdbd9f;
  &:hover{
    color: #e77518;
  }

  &--imp {
    @extend .table-row;
    background-color: #797967;
  }
}
